# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store

# Runtime
*.sock
*.sock

# Docs internos, no se suben
docs/
